/* #hashtags textarea {
    resize: none;
} */

body {
    text-align: center;
    background-color: #F2E7D5;
}

h1 {
    color: #558773;
    margin: 13% 20% 3%;
    font-family: "Roboto Slab", serif;
    font-size: 3rem;
}

@media (max-width: 700px) {
    h1 {
        font-size: 2.5rem;
    }
}

#hashtag-text {
    text-align: center;
    color: #393E46;
    padding: 1% 2%;
    margin: 2% 10% 2%;
    border: dotted 2px #6D9886;
    border-radius: 24px;
    background-color: #f7f7f78e;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    /* make sure the textarea doesn't go outside of the screen */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;

}


.button-copy {
    margin: 1% 10%;
    align-items: center;
    appearance: none;
    background-color: #eeeae4;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #393E46;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    height: 38px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 20px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.button-copy:hover {
    background: #F6F9FE;
    color: #558773;
}

.copied {
    background: #F6F9FE;
    color: #558773;
}